<% content_for :title, "Blog" %>

<% pane_layout do |panes| %>
  <% panes.header do %>
    <%= link_to "New blog post", new_admin_blog_post_path, :class => "large new blog_post button" %>
  <% end -%>
  <% panes.inner do %>
    <%= scrollable_layout do %>
      <div id="blog_dashboard">
        <div id="posts" class="box col3">
          <h2>Your posts</h2>
          <table class="at-a-glance">
            <%= at_a_glance blog.posts.published.count, "public post(s)", admin_blog_posts_path + "#tab_published" %>
            <%= at_a_glance blog.posts.pending.count, "post(s) scheduled for publication", admin_blog_posts_path + "#tab_pending" %>
            <%= at_a_glance blog.posts.draft.count, "draft(s)", admin_blog_posts_path + "#tab_draft" %>
            <%= at_a_glance blog.categories.count, "category(s)", admin_blog_settings_path + "#tab_categories" %>
            <%= at_a_glance blog.unique_tags.count, "tag(s)" %>
          </table>
          <p><%= last_published(blog) %></p>
        </div>

        <div id="comments" class="box col3">
          <h2>Your comments</h2>
          <table class="at-a-glance">
            <%= at_a_glance blog.comments.awaiting_reply.count, "comment(s) awaiting_reply", admin_blog_comments_path + "#tab_awaiting_reply" %>
            <%= at_a_glance blog.comments.published.count, "approved comment(s)", admin_blog_comments_path + "#tab_published" %>
            <%= at_a_glance blog.comments.pending.count, "comment(s) awaiting moderation", admin_blog_comments_path + "#tab_pending" %>
            <%= at_a_glance blog.comments.spam.count, "comment(s) marked as spam", admin_blog_comments_path + "#tab_spam" %>
          </table>
          <p>Replying to comments encourages discussion by letting your visitors know you read and value their contributions.</p>
        </div>
      
        <div id="tags" class="box col3">
          <h2>Your tags</h2>
          <%= tag_cloud blog %>
        </div>
      
        <div id="recent-comments" class="box col3">
          <h2>Recent comments</h2>
          <% if @recent_comments.any? %>
            <%= render :partial => "breeze/admin/blog/blogs/comment", :collection => @recent_comments %>
            <p><%= link_to "More comments", admin_blog_comments_path %></p>
          <% else %>
            <p>You have no recent comments</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% panes.footer do %>
    
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "breeze/admin/blog/blogs/left" %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "/breeze/javascripts/masonry.js" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#blog_dashboard').masonry({
      columnWidth: 128, 
      itemSelector: '.box',
      animate: true,
      animationOptions: {
        duration: 200,
        easing: 'easeOutCubic'
      }
    });
    
    $('#recent-comments .comment .reply').live('click', function() {
      $.get(this.href, function(data) {
        $('<div></div>').html(data).dialog({
          title: 'Reply to comment',
          modal: true,
          width: 512,
          resizable: false,
          open: function() {
            $('textarea', this)[0].focus();
          },
          close: function() {
            $(this).remove();
          },
          buttons: {
            Cancel: function() { $(this).dialog('close'); },
            OK: function() {
              $('form', this).submit();
            }
          }
        });
      });
      return false;
    });
  });
</script>
