<% content_for :title, "Blog" %>

<%= pane_layout do |main| %>
  <% main.header do %>
    <h2></h2>
  <% end %>
  <% main.inner do %>
	  <%= scrollable_layout :id => :posts do %>
	    <h1>Posts</h1>
	    <%= render :partial => "post", :collection => @posts %>
	  <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>
      <%= link_to "New blog post", new_blog_admin_post_path, :class => "large new blog_post button" %>
    <% end %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "/breeze/stylesheets/blog.css" %>
<% end %>