<% content_for :title, "Blog settings" %>

<%= tabbed_layout do |tabs| %>
  <% tabs.general :title => "General settings" do %>
    <%= breeze_form_for blog, :as => :blog, :url => admin_blog_settings_path, :method => :put do |form| %>
      <%= scrollable_layout do %>
        <h1>General settings</h1>
        <%= form.fieldset :legend => "Dates and times" do %>
        
        <% end %>
        <%= form.fieldset :legend => "Post settings" do %>
          <%= form.text_field :posts_per_page, :class => :numeric, :hint => "Affects index, archive, category, and tag views" %>
        <% end %>
        <%= form.fieldset :legend => "Appearance" do %>
        
        <% end %>
      <% end %>
      <%= fake_right_sidebar do %>
        <%= form.submit "Save settings", :class => "large green save button" %>
      <% end %>
    <% end %>
  <% end %>
  <% tabs.comments :title => "Comments" do %>
    <%= breeze_form_for blog, :as => :blog, :url => admin_blog_settings_path, :method => :put do |form| %>
      <%= scrollable_layout do %>
        <h1>Comment settings</h1>
        <%= form.fieldset :legend => "Moderation" do %>
          <%= form.check_box :comment_moderation, :label => "Require comment moderation?", :hint => "If checked, you will need to manually approve all comments before they appear on your blog." %>
        <% end %>
        <%= form.fieldset :legend => "Notifications" do %>

        <% end %>
        <%= form.fieldset :legend => "Spam control" do %>
          <%= form.fields_for :spam_strategy do |spam| %>
            <%= spam.select :_type, Breeze::Blog::Spam::Strategy.strategies.map { |s| [ s.label, s.name ] }, :label => "Spam filtering" %>
            <% Breeze::Blog::Spam::Strategy.strategies.each do |strategy| %>
              <%= content_tag :li, :class => "spam-strategy", :id => "spam_strategy_#{strategy.name.demodulize.underscore}", :style => "display: #{spam.object.is_a?(strategy) ? :block : :none}", :"data-class" => strategy.to_s do %>
                <%= render strategy.partial, :spam => spam %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= fake_right_sidebar do %>
        <%= form.submit "Save settings", :class => "large green save button" %>
      <% end %>
    <% end %>
  <% end %>
  <% tabs.categories :title => "Categories" do %>
    <%= scrollable_layout do %>
      <h1>Categories</h1>
      <ul id="blog_categories" class="categories">
        <%= render :partial => "/breeze/blog/categories/category", :collection => blog.categories.ascending(:position) %>
      </ul>
    <% end %>
    
    <%= fake_right_sidebar do %>
      <div id="new-category">
        <%= render "/breeze/blog/categories/new" %>
      </div>
    <% end %>
  <% end %>
  <% tabs.rss :title => "RSS" do %>
    <%= breeze_form_for blog, :as => :blog, :url => admin_blog_settings_path, :method => :put do |form| %>
      <%= scrollable_layout do %>
        <h1>RSS Feed settings</h1>
        <%= form.fieldset do %>
        
        <% end %>
      <% end %>
      <%= fake_right_sidebar do %>
        <%= form.submit "Save settings", :class => "large green save button" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>
      <%= link_to "New blog post", new_admin_blog_post_path, :class => "large new blog_post button" %>
    <% end %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "/breeze/stylesheets/blog.css" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#blog_spam_strategy_attributes__type').change(function() {
      $('.spam-strategy').hide().find(':input').attr('disabled', true);
      $('.spam-strategy[data-class=' + $(this).val() + ']').show().find(':input').removeAttr('disabled');
    });
    
    $('#blog_categories').sortable({
      axis: 'y',
      update: function(e, ui) {
        $.ajax({
          url: '/admin/blog/categories/reorder.js',
          type: 'post',
          dataType: 'script',
          data: '_method=put&' + $(this).sortable('serialize')
        });
      }
    });
    
    $('#blog_categories a.edit').live('click', function() {
      $.get(this.href, function(data) {
        $('<div></div>').html(data).dialog({
          title: 'Edit category',
          modal: true,
          buttons: {
            Cancel: function() { $(this).dialog('close'); },
            Ok: function() { $('form', this).submit(); }
          },
          close: function() { $(this).remove(); }
        });
      });
      return false;
    });
  });
</script>
