<%# form_for @post, :url => blog_admin_posts_path do |form| %>
	<%#= form.fieldset :legend => "Post" do %>
	  <%#= form.text_field :title %>
	  <%#= form.text_field :slug, :hint => "Forms part of the permalink URL for this post" %>
	  <%#= form.text_area :body %>
	<%# end %>
<%# end -%>


<%= breeze_form_for @post, :url => blog_admin_posts_path do |form| %>
  <%= scrollable_layout do %>
    <h1><%= form.object.new_record? ? "New" : "Edit" %> post</h1>
    <%= form.fieldset :legend => "Post" do %>
		  <%= form.text_field :title, :required => true %>
		  <%= form.text_field :slug, :required => true, :hint => "Forms part of the permalink URL for this post" %>
		  <%= form.text_area :body, :required => true %> 
    <% end %>
		<%= form.submit "Save post", :class => "large green save button" %>
  <% end %>
<% end %>
