<%= pane_layout do |main| %>
	<% main.inner do %>
		<%= breeze_form_for @post, :as => :post, :url => url do |form| %>
		  <%= scrollable_layout do %>
		    <h1><%= @post.new_record? ? 'New' : 'Edit' %> post</h1>
			  <%= render "/breeze/admin/shared/error_messages", :target => @post, :object_name => :post %>
		    <%= form.fieldset do %>
				  <%= form.text_field :title, :autocomplete => "off", :required => true %>
				  <%= form.text_field :slug, :required => true, :hint => "Forms part of the permalink URL for this post" %>
		      <%= form.select :author_id, Breeze::Admin::User.all.collect {|u| [ u.name, u._id ] }, :required => true %>
					<%= form.text_area :body, :required => true, :rows => 16, :class => "markup", :label => false %> 
		    <% end %>
		    
		    <%= form.fieldset :legend => "Summary", :id => "post_summary_fieldset", :class => "collapsible#{" collapsed" if @post.intro.blank?}" do %>
				  <%= form.text_area :intro, :label => false, :rows => 6, :class => "markup", :hint => "Enter a brief summary (about #{blog.post_summary_length} words) of your post, to be displayed on index, archive, and category pages" %> 
		    <% end %>
		  <% end %>

		  <%= fake_right_sidebar do %>
		    <%= scrollable_layout do %>
  		    <%= form.hidden_field :published_at, :value => "" %>
  		    <fieldset id="post_publishing">
            <%= check_box_tag :post_published, 1, !@post.draft? %>
            <%= form.fieldset :id => "post_publish_date", :style => "display: #{@post.draft? ? :none : :block}" do %>
              <li><%= text_field_tag :post_published_on, (@post.published_at || Time.now).strftime("%a %e %b, %Y") %></li>
              <%= form.time_select :published_at, :twelve_hour => true, :minute_step => 5, :label => false %>
              <%= content_tag :li, :class => "pending-message", :style => "display: #{@post.pending? ? :block : :none}" do %>
                This post has a ‘published’ date in the future. It won't be shown on your blog until that date: you can find it in the ‘scheduled’ tab of the posts list.
              <% end %>
            <% end %>
          </fieldset>

  			  <%= submit_tag "Save", :class => "large green save button" %>
  			  <%= link_to "View", @post.draft_permalink, :class => "large view button", :target => :_blank unless @post.new_record? %>
			  
  			  <%= hidden_field_tag "post[category_ids][]", "" %>
  			  <%= form.fieldset :legend => "Categories", :class => "post-categories" do %>
  			    <% blog.categories.ascending(:position).each do |category| %>
  			      <li><%= check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category), :id => "post_category_ids_#{category.id}" %> <%= label_tag "post_category_ids_#{category.id}", category %></li>
  			    <% end %>
  			  <% end %>
			  
  			  <%= form.fieldset :legend => "Tags", :class => "post-tags" do %>
  			    <%= form.text_field :tags, :label => false, :value => form.object.tags.join(", "), :hint => "Press <strong>Return</strong> after each new tag".html_safe, :wrap => { :class => "tag-list" } %>
  			  <% end %>
  			<% end %>
		  <% end %>
		<% end %>
	<% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "/breeze/blog/blogs/left" %>
<% end %>

<% content_for :right do %>
  <%= pane_layout do |right| %>
    <% right.header do %>

    <% end %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "/breeze/javascripts/marquess/marquess.css" %>
  <%= javascript_include_tag "/breeze/javascripts/marquess/marquess.js", "/breeze/javascripts/blog.js" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  var slug_updater = null;

  $(function() {
    $('#post_new #post_title').live('input', function() {
      $('#post_slug').each(function() {
        if (!this.updated) {
          $(this).val($('#post_title').val().toLowerCase().replace(/[^a-z0-9\-]+/g, '-'));
        }
      });
    });
    $('#post_slug').live('input', function() {
      this.updated = true;
    });

    $('.post-categories li').live('click', function(e) {
      if ($(event.target).is('li')) {
        $(this).find(':input').each(function() { this.checked = !this.checked; });
      }
    });
    
    $('textarea.markup').marquess();
    $('#post_published_on').datepicker({
      dateFormat: 'D d M, yy'
    }).change(function() {
      var new_date = $.datepicker.parseDate('D d M, yy', $(this).val());
      $('#post_published_at_1i').val(new_date.getFullYear());
      $('#post_published_at_2i').val(new_date.getMonth() + 1);
      $('#post_published_at_3i').val(new_date.getDate());
      new_date.setHours(parseInt($('#post_published_at_4i').val()));
      new_date.setMinutes(parseInt($('#post_published_at_5i').val()));
      $('#post_publish_date .pending-message').toggle(new_date > new Date());
    });
    
    $('#post_published').change(function() {
      var published = $('#post_published:checked').length > 0;
      $('#post_publish_date').toggle(published).find(':input').attr('disabled', !published);
    }).change().hide();
    $('<div class="publish-toggle"></div>').insertAfter('#post_published').css({
      'background-position': ($('#post_published:checked').length > 0 ? 0 : 100) + '% 0%'
    }).mousedown(function() {
      $('#post_published').click().change();
      $(this).animate({
        'background-position': ($('#post_published:checked').length > 0 ? 0 : 100) + '% 0%'
      }, 'slow', 'easeInOutQuad')
    });
    
    $('#post_new, #post_edit').live('submit', function() {
      $('.textboxlist-bit-editable-input', this).each(function() {
        if ($(this).val() != '') {
          this.focus();
          e = jQuery.Event("keydown");
          e.which = 13;
          $(this).trigger(e);
        }
      });
    });
    
    $('#post_published_at_5i').after('<small class="am">am</small><small class="pm">pm</small>');
    $('#post_published_at_4i').change(function() {
      var h = parseInt($(this).val());
      $(this).parent().find('.am').toggle(h < 12);
      $(this).parent().find('.pm').toggle(h >= 12);
    }).change().find('option').each(function() {
      $(this).text($(this).text().replace(/ [AP]M$/i, ''));
    });
    
    new $.TextboxList('#post_tags', { });
    
    $('#post_summary_fieldset.collapsed').find('ol.form').hide();
    $('#post_summary_fieldset legend').click(function() {
      var fieldset = $(this).parent()
      fieldset.toggleClass('collapsed').find('ol.form').toggle(!fieldset.hasClass('collapsed'));
    });
        
    $('#post_new :input, #post_edit :input').live('change input', function() {
      window.unsaved_changes = true;
    });
    window.unsaved_changes = false;
    window.onbeforeunload = function() {
      if (window.unsaved_changes) {
        return 'If you continue, you will lose your unsaved changes. Do you want to proceed anyway?';
      }
    };
    $('.save.button').click(function() {
      window.unsaved_changes = false;
      return true;
    });
  });
</script>