<% content_for :title, "Blog posts" %>

<%= tabbed_layout do |tabs| %>
	<% tabs.header do -%>
	  <%= link_to "New blog post", new_admin_blog_post_path, :class => "large new blog_post button" %>
	<% end -%>
  <% tabs.draft :title => "Drafts <small>#{@posts.draft.size}</small>".html_safe do -%>
    <h2>Draft posts</h2>
    <p>These posts are not yet ready to be displayed on your blog.</p>
    <%= render :partial => "posts", :locals => { :posts => @posts.draft.paginate(:page => params[:draft_page], :per_page => 10), :view => :draft } %>
  <% end -%>
  <% tabs.pending :title => "Pending <small>#{@posts.pending.size}</small>".html_safe do -%>
    <h2>Pending posts</h2>
    <p>These posts are ready to be displayed on your blog, but are awaiting their publication date.</p>
    <%= render :partial => "posts", :locals => { :posts => @posts.pending.paginate(:page => params[:pending_page], :per_page => 10), :view => :pending } %>
  <% end -%>
  <% tabs.published :title => "Published <small>#{@posts.published.size}</small>".html_safe do -%>
    <h2>Published posts</h2>
    <p>These posts are available on your blog.</p>
    <%= render :partial => "posts", :locals => { :posts => @posts.published.paginate(:page => params[:published_page], :per_page => 10), :view => :published } %>
  <% end -%>
<% end %>

<% content_for :left do %>
  <%= render :partial => "breeze/blog/blogs/left" %>
<% end %>

<script type="text/javascript" charset="utf-8">
  function makeDraggable(posts) {
    $(posts).draggable({
      appendTo: '#main',
      cursor: 'default',
      cursorAt: { left: -8, top: -8 },
      helper: function() {
        return $('<div class="post-drag-helper">(post)</div>');
      },
      start: function(event, ui) {
        $(':checkbox', this).attr('checked', true);
        $(ui.helper).html($(this).closest('tbody').find(':checked').length);
      }
    });
  }

  $(function() {
    makeDraggable('.posts-container .post');

    $('.posts-container tfoot .pagination a').live('click', function() {
      var container = $(this).closest('.container');
      var tab = $(this).closest('.tab-pane').attr('id').replace(/^tab_/, '');
      $.get(this.href + '&tab=' + tab, function(data) {
        container.replaceWith(data);
        makeDraggable('.posts-container:visible .post');
      });
      return false;
    });
    
    $('#main-tabs-tabs li:not(.active) a').not('[href=#tab_pending]').droppable({
      accept: '.post',
      hoverClass: 'drop-hover',
      tolerance: 'pointer',
      drop: function(e, ui) {
        var post_ids = [];
        var posts = $(ui.draggable).closest('table').find('tbody :checked').closest('.post');
        posts.each(function() {
          post_ids.push(this.id.replace(/^post_/, 'post_ids[]='));
        });
        posts.fadeOut(function() { $(this).remove(); });
        $.ajax({
          url: '/admin/blog/posts.js',
          type: 'post',
          dataType: 'script',
          data: '_method=put&' + post_ids.join('&') + '&post[status]=' + $(this).attr('href').replace(/^.*\#tab_/, '')
        });
      }
    });
    
    $('.posts-container thead :checkbox').live('change', function() {
      var posts = $('tbody :checkbox', $(this).closest('table'));
      if (this.checked) {
        posts.attr('checked', true);
      } else {
        posts.removeAttr('checked');
      }
    });
    
    $('.posts-container :checkbox').live('change', function() {
      var container = $(this).closest('.container');
      $('.with-selected', container).toggle($('tbody :checked', container).length > 0);
    });
    
    $('.posts-container .with-selected .button').live('click', function() {
      var post_ids = [];
      var posts = $(this).closest('.container').find('tbody :checked').closest('.post');
      posts.each(function() { post_ids.push(this.id.replace(/^post_/, 'post_ids[]=')); });
      var method = $(this).is('.delete') ? 'delete' : 'put';
      var data = '_method=' + method + '&' + post_ids.join('&');
      if ($(this).is('.publish')) { data += '&post[status]=publish'; }
      if ($(this).is('.unpublish')) { data += '&post[status]=draft'; }
      $.ajax({
        url:'/admin/blog/posts.js',
        type:'post',
        dataType:'script',
        data: data
      });
      $(this).closest('.container').find('thead :checked').removeAttr('checked');
      $(this).closest('.with-selected').hide();
      return false;
    });
  });
</script>